@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;

}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F9F7F3;
}
.headers{
    font-weight: 600;
    font-size: 30px;
}
input{
    display: flex;
}
.AOI-input{
    border-radius: 20px;
    width: 400px;
    height: 47.27px;
    padding-left:15px; 
    margin-top: 10px;
    display: block;
    background: none;

}
#AOI{
text-align: left;
}
#sitemapName{
    padding-top: 30px;
    text-align: left;
}
#site {
    height: 95.76px;
    width: 400px;
    margin-top: 10px;
    border: 2px dashed #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }

#file-input{
    display: none;
}

#generate{
    border-radius: 20px;
    width: 400px;
    height: 47.27px;
    padding-left:15px; 
    margin-top: 50px;
    display: block;
    background: #F7A072;
    color: #F9F7F3;
    border-width: 0;
}

